@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
    max-width: 30em;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/*************************************************************************************/

* {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    user-drag: none;
}

input, textarea {
    -ms-user-select: auto !important;
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    user-select:auto !important;
    -webkit-user-drag: auto !important;
    -ms-user-drag: auto !important;
    -moz-user-drag: auto !important;
    -khtml-user-drag: auto !important;
    user-drag: auto !important;
}

html, body {
    font-family: "Noto Sans KR", sans-serif !important;
    overflow: hidden;
    touch-action: none;
    -ms-content-zooming: none;
    -ms-touch-action: none;
    width: 100vw;
    height: 100%;
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

header {
    height: 3rem;
}

main {
    height: 100%;
    overflow: auto;
}

header img,
footer img {
    height: 3rem;
    padding: 0.5rem 0;
}

.textBox {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    position: relative;
    word-break: break-word;
}

.jk-color {
    color: #fefefe !important;
}

.jk-btn {
    background: none;
    border: none;
}

.jk-btn svg {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem 0;
    transition: 0.3s;
}

.jk-btn-bottom svg {
    fill: #666666;
    /*width: 3rem;*/
    /*height: 3rem;*/
}

.jk-btn-top svg {
    fill: #fefefe;
}

.jk-btn.on svg,
.jk-btn:hover svg {
    fill: #e93355;
}

.jk-relative {
    position: relative;
}

.jk-fixed {
    position: fixed;
}

#search-box {
    margin-top: 1rem;
    display: none;
}

input:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

button:focus {
    border-color: #6c757d !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.jk-btn-search-submit svg {
    margin-top: -5px;
}

.jk-list-image {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/icon/picture.svg");
}

.jk-list-title {
    color: #c8c8c8;
    white-space: nowrap;
}
.jk-list-subtitle {
    white-space: nowrap;
}

.jk-submenu {
    font-weight: 500;
}

.jk-submenu a {
    text-underline: none;
    text-decoration: none;
}

.jk-about {
    max-height: 50%;
    height: 100%;
    border: 1px solid #666666;
    border-radius: 5px;
}

.jk-about span,
.jk-about strong {
    display: block;
}

.jk-about > * {
    margin-bottom: 1rem;
}

.jk-about span {
    color: #c8c8c8;
}

.jk-about input {
    background: none;
    border: none;
    width: calc(100% - 1.1rem);
    color: #c8c8c8;
    padding: 0;
}

.jk-about span::before {
    content: '>';
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    text-underline-mode: none;
    transition: 0.3s;
}

main.a-hover .a-hover-in:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.jk-music-lyrics .on {
    color: #fefefe;
}

.jk-music-lyrics p {
    cursor: pointer
}
.jk-cursor-pointer {
    cursor: pointer
}

progress::-webkit-progress-bar {
    background: none;
}

progress::-webkit-progress-value {
    background: #e93355;
    transition: 0.3s;
}

progress::-moz-progress-bar {
    background: #e93355;
}

.jk-music-information-box.on .jk-music-progress-bar {
    height: 10px;
}
.jk-music-progress-bar {
    height: 3px;
    width: 100%;
    display: flex;
    transition: 0.3s;
    cursor: pointer;
    -webkit-appearance: none;
}
#jk-music-player {
    display: none;
}
.jk-music-information {
    display: none;
}